@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url("../assets/images/Main\ Page.png") bottom fixed;
  background-size: relative;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
}

#add-row {
  margin-top: 1%;
  margin-left: 5px;
}

#chart {
  transform: translateY(5px);
  margin-left: 15px;
}

.form-popup {
  position: absolute;
  max-height: 90vh;
  max-width: fit-content;
  min-height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(130%);
  border-width: 1px;
  border-color: #fff;
  border-radius: 15px;
  border-style: solid;
  box-shadow: 0 0 1rem 0 rgba(0 0 0 / 20%);
  padding: 3% 3% 2%;
}

#chart-close {
  position: absolute;
  top: 2%;
  right: 3%;
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 2.5em;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 2%;
  right: 5%;
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 2.5em;
  cursor: pointer;
  color: white;
}

.close-button:hover {
  transform: scale(1.2);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input,
select {
  border-width: 0 0 2px;
  border-bottom: 1.5px solid #2e8bc0;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
  outline: none;
}

.selections option {
  color: black;
}

#category option {
  color: black;
  outline: none;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::placeholder {
  color: transparent;
  transition-duration: 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-wrapper {
  text-align: center;
}

.addBtn {
  margin-top: 4%;
  width: fit-content;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  background-color: #2e8bc0;
}

.delBtn {
  margin-top: 4%;
  margin-right: 18px;
  width: fit-content;
  cursor: pointer;
  background-color: rgb(242 91 91);
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
}

h1 {
  position: absolute;
  top: 20px;
  left: 80px;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  color: rgb(249 249 249);
}

.heading {
  padding-left: 20px;
}

#corner {
  position: fixed;
  right: 10px;
  top: 5px;
  cursor: pointer;
  padding: 5px;
}

#main-table {
  width: 1200px;
  border-spacing: 0;
  border-collapse: collapse;
}

#main-table td {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-weight: 500px;
  color: rgb(255 255 255);
  height: 40px;
}

#main-table tr:nth-child(1) {
  top: 0;
  position: sticky;
  z-index: 1000;
}

.search-bar button {
  background-color: transparent;
  border-style: none;
}

#table-container button {
  float: center;
  border: none;
  padding: 5px 12px;
  margin: 10px 0;
  background: #368ca6;
  border-radius: 5px;
  width: 80%;
  color: white;
  cursor: pointer;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(128 125 125);
  color: rgb(255 255 255);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

#line {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-left: 20px;
}

#search {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.search-bar {
  padding: 0;
  margin-left: 20px;
  margin-bottom: 2px;
  border-bottom: 2px solid white;
  width: 100%;
  max-width: 700px;
}

::placeholder {
  color: #fff;
}

.search-bar input {
  background-color: transparent;
  border: 0;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #fff;
  padding-right: 200px;
  padding-left: 3px;
  padding-bottom: 5px;
}

.sorting {
  display: inline-block;
  margin-left: 20px;
  transform: translateY(-10px);
}

.selections {
  width: 100%;
}

.sorting-search{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 100%;
  outline: 0;
  border-bottom: 2px solid white;
  padding-bottom: 1.75px;
  padding-right: 15px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.sort {
  background-color: transparent;
  border: 0;
  outline: none;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1500; 
}

#logout {
  width: 80px; 
  height: 35px;
  margin-left: 10px;
  border-radius: 10px;
  border-style: none;
  outline: white;
  outline-width: 2px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: #34cdfb;
}

#logo-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 10%;
}

#logout:hover {
  transform: scale(1.05);
}

#imagesLine {
  position: relative;
  width: 1350px;
  height: 400px;
  right: 0;
  bottom: 0;
}

#logo {
  position: absolute;
  right: 120px;
  bottom: 0;
  width: fit-content;
  height: 30%;
  
}

#bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: 40%;
}

#main-table #names {
  top: 20px;
  height: 40px;
  width: fit-content;
  color: #575f6e;
  background: #f5f4f4;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#main-table #categorys {
  color: #575f6e;
  background: #f5f4f4;
  width: fit-content;
}

#main-table #dates {
  color: #575f6e;
  background: #f5f4f4;
  width: fit-content;
}

#main-table #amounts {
  color: #575f6e;
  background: #f5f4f4;
  width: fit-content;
}

#main-table #actions {
  color: #575f6e;
  background: #f5f4f4;
  width: fit-content;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.scroll {
  height: 500px;
  width: max-content;
  overflow-x: hidden;
  overflow-y: auto;
}
